html
{
    font-size: 30px;
}

body
{
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
}

#color
{
    color: coral;
}

#fontSize
{
    font-size: 2rem;
}

#fontWeight
{
    font-weight: 900;
}

#fontFamily
{
    font-family: 'Caveat', cursive;
}

#textAlign
{
    text-align: right;
}
